
.body{
    display: flex;
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 100000;
}
.imageSection{
    flex-basis: 50%;
    position: relative;
    z-index: 2;
}
.demo{
    width: 100vw;
    height: 15vh;
    background-color: #fff;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: 1;
}
.blogLogo h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: #01322c;
}
.background{
    z-index: 1px;
    position: absolute;
    right: 18%;
    bottom: -3%;
    width: 1404px;
    height: 1404px;
    background: linear-gradient(to bottom , #38d39f, #32be8f);
    border-radius: 50%;
}
.imageSection img{
    position: relative;
    width: 90%;
    z-index: 2;
    right: -10%;
}


/* -------------------Form area--------------------------- */

/* ------------------------user-------------------------------- */

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    gap: 50px;
    padding-top: 5%;
}

.schoolLogo{
    width: 200px;
    height: 200px;
}
.schoolLogo img {
    width: 100%;
}

.username{
  
    height: 24%;
    width: 90%;
    border-bottom: 3px solid gray;
    margin-bottom: 10%;
   transition: 0.2s;

}
.name{
    height: 24%;
    width: 90%;
    border-bottom: 3px solid gray;
    margin-bottom: 10%;
   transition: 0.2s;
}
.name input{
    width: 80%;
    height: 100%;
    font-size: 30px;
    text-align: start;
    border: none;
    padding: 0;
    transform: translateY(-2px);
    background: none;
    outline: none;
    vertical-align: top;
}
.name:hover{
    border-bottom: 3px solid #32be8f;
}
.username:hover{
    border-bottom: 3px solid #32be8f;
}
.username input{
    width: 80%;
    height: 100%;
    font-size: 30px;
    text-align: start;
    border: none;
    padding: 0;
    transform: translateY(-2px);
    background: none;
    outline: none;
    vertical-align: top;
}




/* ------------------------user-------------------------------- */


.userpaasword{
    height: 24%;
    width: 90%;
    border-bottom: 3px solid gray;
    margin-bottom: 10%;
   transition: 0.2s;
    
}
.userpaasword:hover{
   border-bottom: 3px solid #32be8f;
}

.userpaasword input{
    width: 80%;
    height: 100%;
    font-size: 30px;
    text-align: start;
    border: none;
    padding: 0;
    transform: translateY(-2px);
    background: none;
    outline: none;
    vertical-align: top;
}



 .sbmit{
    width: 90%;
    height: 35px;
    border-radius: 20px;
    border: 3px solid #32be8f;
   font-size: 25px;
   color: #32be8f;
   transition: all 0.8s;
   margin-bottom: 1.25rem;
}
.green{
    background: linear-gradient(to right,#32be8f,#38d39f,#32be8f );
    color: #fff;
}
.formContainer button:hover{
    cursor: pointer;
     background: linear-gradient(to right,#32be8f,#38d39f,#32be8f );
     color: #fff;
}




@media only screen and (max-width: 700px) {
    .body{
        position: relative;
        flex-direction: column-reverse;
        width: 100vw;
        padding-left: 2rem;
    }
   
    .formContainer{
        margin-top: 3rem;
        padding: 10px;
        padding-bottom: 50px;
        z-index: 2;
    }

    .userpaasword label i{
        font-size: 25px;
        color: rgb(61, 61, 61);
    }
    .username label i{
        font-size: 25px;
        color: rgb(61, 61, 61);
    }
    .userpaasword:hover{
        border-bottom: 3px solid gray;
     }

     .username:hover{
        border-bottom: 3px solid gray;
     }

     .demo{
        width: 100vw;
        height: 15vh;
        background-color: #fff;
        position: absolute;
        top: -10vh;
        left: 0;
        z-index: 1;
        padding-left: 2rem;
    }

}

